.counter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-left: 10px; */
  }

  .counter-btn {
    padding: 4px 10px;
    /* margin: 0 10px; */
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    background: none;
    border: 1px solid gray;
    color: gray;
}

.minuss {
    color: white;
    border: 1px solid white;
    background: none;
  }

  .minuss.disabled {
    background: none ;
  }

  .pluss {
    color: white;
    background: none;
    border: 1px solid white;
  }

  .counter-value {
    font-size: 24px;
    /* margin: 0 20px; */
  }
  .sell_tickets_warp{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sell_tickets_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.sell_ticket_btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Ticket_p{
    margin-left: 170px;
    margin-top: 30px;
}
.sell_tickets_box_in {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px ;
    
  }